<select (change)="onPintsChange($event.target.value)" class="filter">
  <option value="all">Show All</option>
  <option value="near-empty">Show Nearly Empty</option>
</select>
<p>Sort By</p>
<select (change)="onSortChange($event.target.value)" class="filter">
  <option value="0">Order Tapped</option>
  <option value="1">Brand</option>
  <option value="2">Name</option>
  <option value="3">Price</option>
  <option value="4">Alcohol Content</option>

</select>
<keg-display
  *ngFor="#currentKeg of kegList | pints:filterPints | sort:filterSort"
  (click)="kegClicked(currentKeg)"
  [class.selected]="currentKeg === selectedKeg"
  [keg]="currentKeg">
</keg-display>
<edit-keg-details
  *ngIf="selectedKeg" [keg]="selectedKeg">
</edit-keg-details>
<new-keg (onSubmitNewKeg)="createKeg($event[0], $event[1], $event[2], $event[3])"></new-keg>
