h1 {
  color: blue;
}

.selected {
  color: red;
}

.currencyinput {
    border: 1px #ccc solid;
    padding: 4px;
}
.currencyinput input {
    border: 0;
}
input:focus {
    outline-width: 0;
}

.expensive {
  height: 30px;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}
